<div class="sidebar">
  <div class="sidebar-header">
    <img
      src="https://i.pinimg.com/736x/1a/f7/05/1af705a86f30ae3c00fa9fa36abdf4b7.jpg"
      alt="logo"
      class="sidebar-logo"
    />
    <h2 class="sidebar-title" style="  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);  font-family: 'Great Vibes', 'Dancing Script', cursive;">Arise-Max</h2>
  </div>

  <nav class="sidebar-links">
    <a href="/" class="sidebar-item">Home</a>
    <a href="/expo" class="sidebar-item">Explore <sup style="color: rgba(230, 211, 69, 0.741);">New</sup></a>
    <a href="/mort" class="sidebar-item">Mortgage</a>
    <a href="/daily" class="sidebar-item">Daily Aim</a>
    <a href="/go" class="sidebar-item">Goal</a>
    <a href="/idol" class="sidebar-item">Idols</a>
    <a href="/know" class="sidebar-item">Know</a>
    <a href="/arise" class="sidebar-item " style="color: rgba(0, 157, 255, 0.93);" >Arise<sup style="color: rgba(230, 211, 69, 0.741);">New</sup></a>
    <a href="/afr" class="sidebar-item">Affirmation</a>
        <a href="/idol" class="sidebar-item " style="color:  rgba(0, 157, 255, 0.93);">Challenges</a>
    <a href="#" class="sidebar-item">Login</a>
    <a href="#" class="sidebar-item">Logout</a>
  </nav>

  <div class="social-icons">
    <a href="https://github.com/Dhiraj2024" class="icon-link"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100095633672699" class="icon-link"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.youtube.com/@Story_Berry" class="icon-link"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://www.instagram.com/still17svntn/?hl=en" class="icon-link"><i class="fa-brands fa-instagram"></i></a>
  </div>
</div>

<!-- Hamburger button (mobile only) -->
<div class="hamburger" onclick="document.querySelector('.sidebar').classList.toggle('active')">
  ☰
</div>
