<%- layout("layout/boilerplate")  %>

<div class="content">
 <main class="edit-goal-content">
    <div class="card form-card bg-white mx-auto">
      <h3>Edit Your Goal</h3>
      <form method="POST" action="/go/<%= go._id %>?_method=PUT" novalidate class="needs-validation">
        
        <div class="mb-3">
          <label for="goTitle" class="form-label">Title</label>
          <input id="goTitle" name="go[title]" value="<%= go.title %>" type="text" class="form-control" required />
          <div class="invalid-feedback">Please enter a title.</div>
        </div>

        <div class="mb-3">
          <label for="editDescription" class="form-label">Description</label>
          <textarea id="editDescription" name="go[description]" class="form-control" rows="5" required><%= go.description %></textarea>
          <div class="invalid-feedback">Please enter a description.</div>
        </div>

        <button class="btn btn-save mt-3">Save Changes</button>
      </form>
    </div>
  </main>
  </div>